* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 3000px;
    font-family: Arial, Helvetica, sans-serif;
}


/* start nav */
nav {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.616);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 45px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav ul li {
    height: 100%;
}

nav ul li a {
    padding: 0 15px;
    text-decoration: none;
    font-size: 16.5px;
    color: rgb(0, 0, 0);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: 0.3s;
    text-transform: uppercase;
}

nav div>button:first-child {
    display: none;
}



nav ul li a:hover {
    background-color: rgb(204, 204, 204);
}

nav div i {
    font-size: 18px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 13.5px 15px;
}

nav div i:hover {
    background-color: rgb(244, 67, 54);
    color: white;
    cursor: pointer;
}

.nav_drop {
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    list-style: none;
    display: none;
    z-index: 2000;
    height: 200px;
}

.nav_drop ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.nav_drop ul li {
    width: 100%;
}

.nav_drop ul li a {
    background-color: white;
    display: block;
    width: 100%;
    padding: 15px 10px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: 0.3s;
    text-transform: uppercase;
}

.nav_drop ul li a:hover {
    background-color: rgb(204, 204, 204);
}

nav div button.fa-bars {
    font-size: 18px;
    color: rgb(0, 0, 0);
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 13.5px 15px;
    border: 0;
    background-color: white;
}

nav div button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#bars-icon:focus-within .nav_drop {
    display: flex;
}


@media (max-width:576px) {

    nav>ul:first-child li:nth-of-type(2),
    nav>ul:first-child li:nth-of-type(3),
    nav>ul:first-child li:nth-of-type(4) {
        display: none;
    }

    nav div i:nth-of-type(1) {
        display: none;
    }


    nav div button.fa-bars {

        display: flex;

    }

}


/* end nav */


/* start heading */
.heading {
    background: url('../images/parallax1.jpg') center;
    background-size: cover;
    filter: opacity(0.75);
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.heading h1 {
    background-color: black;
    color: white;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 13px 0px;
    font-size: 26px;
    width: 32%;
    text-align: center;
}

@media (max-width: 992px) {
    .heading {
        height: 35vh;
    }

    .heading h1 {
        width: 50%;
    }
}

@media (max-width:576px) {
    .heading h1 {
        width: 60%;
    }

    .heading h1 span {
        display: none;
    }
}

/* end heading */

/* start about */
/* 1 ------------------------------------------------------------------------*/
.about_us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 66px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 80px 50px 0 50px;
}


.about>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(119, 119, 119);
    width: 85%;
}

.about>div:first-child h2 {
    font-weight: 500;
    text-transform: uppercase;
}

.about>div:first-child span {
    font-size: 15px;
}

.about>div:first-child p {
    font-size: 15px;
    line-height: 1.9;
    width: 100%;
}

/* 2 ------------------------------------------------------------------------*/
.about>div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 85%;
    color: rgb(119, 119, 119);
}

.about>div:nth-of-type(2)>div:first-child {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 50%;
}

.about>div:nth-of-type(2)>div:first-child p {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
}

.about>div:nth-of-type(2)>div:first-child img {
    filter: opacity(0.75);
    width: 90%;
    border-radius: 8px;
    transition: 0.3s;
}

.about>div:nth-of-type(2)>div:first-child img:hover {
    filter: opacity(100);
}

.about>div:nth-of-type(2)>div:last-child {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about>div:nth-of-type(2)>div:last-child p {
    width: 92.5%;
    font-size: 15px;
    line-height: 1.9;
}

/* 3 ------------------------------------------------------------------------*/
.about>div:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 43px;
    width: 85%;
    color: rgb(119, 119, 119);

}

.about>div:nth-of-type(3)>span {
    font-size: 18px;
}

.about>div:nth-of-type(3)>.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;

}

.about>div:nth-of-type(3)>.skills>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.about>div:nth-of-type(3)>.skills>div p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
    letter-spacing: 8px;
    text-transform: capitalize;
}

.about>div:nth-of-type(3)>.skills>div div {
    width: 100%;
    background-color: rgb(241, 241, 241);
}

.about>div:nth-of-type(3)>.skills>div div div {
    width: 90%;
    background-color: rgb(97, 97, 97);
    color: white;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about>div:nth-of-type(3)>.skills>div:nth-last-of-type(2) div div {
    width: 85%;
}

.about>div:nth-of-type(3)>.skills>div:last-child div div {
    width: 75%;
}

/* 4 ------------------------------------------------------------------------*/
.about_footer {
    height: 23vh;
    background-color: rgb(97, 97, 97);
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about_footer div {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.about_footer div>span:first-child {
    font-size: 23.5px;
    font-weight: bold;
}

.about_footer div>span:last-child {
    font-size: 16px;
    text-transform: capitalize;
}

@media (max-width: 992px) {
    .about>div:first-child {

        width: 100%;
    }

    .about {
        padding: 80px 0 30px 0;
    }

    .about>div:first-child p {
        width: 95%;
    }

    .about>div:nth-of-type(2) {
        width: 95%;
    }

    .about>div:nth-of-type(3) {
        width: 92%;
    }

    .about_footer {
        height: 12vh;
    }
}

@media (max-width:576px) {
    .about {
        padding: 80px 0 10px 0;
    }

    .about>div:first-child p {
        font-size: 14px;
    }

    .about>div:nth-of-type(2) {
        flex-direction: column;
        width: 100%;
    }

    .about>div:nth-of-type(2)>div:first-child {
        width: 100%;
    }

    .about>div:nth-of-type(2)>div:first-child img {
        width: 80%;
    }

    .about>div:nth-of-type(2)>div:last-child {
        display: none;
    }

    .about>div:nth-of-type(3) {
        width: 90%;
    }

    .about_footer {
        height: 60vh;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }
}

/* ena about */


/* start portfolio */
.portfolio {
    height: 66vh;
    background: url(../images/parallax2.jpg) center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: opacity(0.75)
}

.portfolio h2 {
    letter-spacing: 12px;
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 500;
}

@media (max-width: 992px) {
    .portfolio {
        height: 35vh;
    }
}

@media (max-width:576px) {
    .portfolio {
        height: 55vh;
    }
}

/* end portfolio */



/* start  WORKs */
.works,
.contact {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: rgb(119, 119, 119);
    width: 100%;
}

.works h2 {
    text-transform: uppercase;
    font-weight: 500;
}

.works p {
    font-style: italic;
    width: 30%;
    text-align: center;
    line-height: 1.8;
}


.works .works_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 75%;
    margin: 20px 0 35px 0;
}

.works .works_container img {
    filter: opacity(1);
    width: calc((100% - 45px) / 4);
    height: 150px;
    transition: 0.3s;
    cursor: pointer;
}

.works .works_container img:hover {
    filter: opacity(0.75);
}

.works button {
    padding: 15px 20px;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(155, 153, 153, 0.24);
    border: none;
    transition: 0.3s;
}

.works button:hover {
    background-color: rgb(204, 204, 204);
}

@media (max-width: 992px) {
    .works p {
        width: 50%;
    }

    .works .works_container {
        width: 90%;
    }
}

@media (max-width:576px) {
    .works p {
        width: 95%;
        font-size: 15px;
    }

    .works .works_container {
        width: 100%;
        flex-direction: column;
    }

    .works .works_container img {
        width: 85%;
        height: 250px;
    }
}

/* end  WORKs */


/* start CONTACT */
/* 1 */
.contact {
    gap: 80px;
    padding: 80px 0 130px 0;

}

.contact>div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    background: url("../images//parallax3.jpg") center;
    background-size: cover;
    filter: opacity(0.75);
    width: 100%;
}

.contact>div:first-child h2 {
    letter-spacing: 12px;
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 500;
}

/* 2 */
.contact>div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
    width: 100%;
}

.contact>div:nth-of-type(2)>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.contact>div:nth-of-type(2)>div:first-child h2 {
    text-transform: uppercase;
    font-weight: 500;
}

.contact>div:nth-of-type(2)>div:first-child span {
    font-style: italic;
    width: 30%;
    text-align: center;
    line-height: 1.8;
}

/* 3 */
.contact>div:nth-of-type(2)>div:last-child {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}

.contact>div:nth-of-type(2)>div:last-child>div:first-child {
    width: 30%;
}

.contact>div:nth-of-type(2)>div:last-child>div:first-child img {
    width: 100%;
    border-radius: 5px;
}

.contact>div:nth-of-type(2)>div:last-child>div:last-child {
    width: calc((100% - 35px - 30%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

.contact>div:nth-of-type(2)>div:last-child>div:last-child .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}

.contact>div:nth-of-type(2)>div:last-child>div:last-child .contact-info p {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 17px;
    width: 100%;
}

.contact>div:nth-of-type(2)>div:last-child>div:last-child .contact-info p i {
    font-size: 19px;
    transition: 0.3s;
    cursor: pointer;
}

.contact>div:nth-of-type(2)>div:last-child>div:last-child .contact-info p i:hover {
    color: black;
}

.contact>div:nth-of-type(2)>div:last-child>div:last-child .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 18px;
    width: 100%;
}

.contact>div:nth-of-type(2)>div:last-child>div:last-child .contact-form>p {
    font-size: 15px;
}

.contact>div:nth-of-type(2)>div:last-child>div:last-child .contact-form>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    width: 100%;
}

.contact>div:nth-of-type(2)>div:last-child>div:last-child .contact-form>form>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.contact>div:nth-of-type(2)>div:last-child>div:last-child .contact-form>form>div input {
    width: calc((100% - 15px) / 2);
    padding: 10px 7px;
    text-transform: capitalize;
    font-size: 15px;
    border: 1px solid rgb(202, 196, 196);
}

.contact>div:nth-of-type(2)>div:last-child>div:last-child .contact-form>form>input {
    width: 100%;
    padding: 10px 7px;
    text-transform: capitalize;
    font-size: 15px;
    margin-top: -6px;
    font-size: 15px;
    border: 1px solid rgb(202, 196, 196);
}

.contact>div:nth-of-type(2)>div:last-child>div:last-child .contact-form>form>button {
    background-color: black;
    color: white;
    padding: 11px 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.contact>div:nth-of-type(2)>div:last-child>div:last-child .contact-form>form>button:hover {
    background-color: rgb(204, 204, 204);
    color: black;
}

@media (max-width: 992px) {
    .contact>div:first-child {
        height: 35vh;
    }

    .contact>div:nth-of-type(2)>div:last-child {
        width: 90%;
    }

    .contact>div:nth-of-type(2)>div:last-child>div:last-child {
        width: 100%;
    }

    .contact>div:nth-of-type(2)>div:last-child>div:first-child {
        width: 50%;
    }
}

@media (max-width:576px) {
    .contact>div:first-child {
        height: 60vh;
    }

    .contact>div:nth-of-type(2)>div:first-child span {
        width: 90%;
    }

    .contact>div:nth-of-type(2)>div:last-child {
        flex-direction: column;
        width: 85%;
        justify-content: center;
    }

    .contact>div:nth-of-type(2)>div:last-child>div:first-child {
        width: 100%;
    }

    .contact>div:nth-of-type(2)>div:last-child>div:last-child {
        width: 100%;
        margin-top: 0px;
    }

    .contact>div:nth-of-type(2)>div:last-child>div:last-child .contact-form>form>div {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .contact>div:nth-of-type(2)>div:last-child>div:last-child .contact-form>form>div input {
        width: 100%;
    }
}

/* end CONTACT */

/* start footer */
.footer_website {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: rgb(97, 97, 97);
    transition: 0.3s;
    color: black;
}

.footer_website:hover {
    background-color: black;
    color: white;
}

.footer_website>a {
    text-decoration: none;
    color: rgb(97, 97, 97);
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    gap: 15px;
    font-size: 16.5px;
    transition: 0.3s;
    font-weight: 500;
}

.footer_website>a i {
    font-weight: bold;
}

.footer_website>a:hover {
    background-color: rgb(204, 204, 204);
    color: rgb(0, 0, 0);
}

.footer_website div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.footer_website div a {
    color: white;
}

.footer_website div a i {
    font-size: 22px;
    transition: 0.3s;
}

.footer_website div a i:hover {
    color: rgb(153, 153, 153);
}

.footer_website p {
    color: white;
    font-size: 15px;
}

.footer_website p u {
    transition: 0.3s;
    cursor: pointer;
}

.footer_website p u:hover {
    color: rgb(73, 119, 12);
}

@media (max-width: 992px) {
    .footer_website {
        height: 25vh;
    }
}

@media (max-width:576px) {
    .footer_website {
        height: 40vh;
    }
}

/* end footer */
